<!DOCTYPE html>
<html>
  <head>
    <title>T-Rex WebApp</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/concise.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body>
    <header container>
      <div row class="testing margin-top-1">
        <div column="2" class="testing">
          <img src="/images/<%= __("trexLogo") %>" alt="T-Rex Logo" class="media--fluid" >
        </div>
        <div column="6 +4" class="testing" style="padding-top: 1em;">
          <div column="3" class="testing">
            <h4>
              <a href="#"><%= __('About') %></a>
            </h4>
          </div>
          <div column="3" class="testing">
            <h4>
              <a href="#">
                <%= __('Contact')%>
              </a>
            </h4>
          </div>
          <div column="3" class="testing">
            <h4>
              <a href="#">
                <%= __('Credits')%>
              </a>
            </h4>
          </div>
          <div column="2" class="testing">
            <h4>
              <a href="#">En</a>/<a href="#">Es</a></h4>
          </div>
        </div>
      </div>
      <hr style="margin-top:1em;" />
    </header>
    <div container class="testing main-panel">
      <%- body %>
    </div>
    <div column="12" class="testing footer">
      <div  column="4">
        <img src="/images/sib_logo.png" alt=" T-Rex Logo" class="media--fluid" >
      </div>
      <div  column="4">
        <br />
        <br />
        <div style="margin-left: 10em">
          <img src="/images/facebook.png" height="50px" >
          <img src="/images/youtube.png" height="50px" >
          <img src="/images/twiterr.png" height="50px" >
          </div>
      </div>
      <div  column="4">
        <br />
        <img src="/images/direccion.png" alt=" T-Rex Logo" class="media--fluid" >
      </div>
    </div>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/Blob.js"></script>
    <script src="/js/dependencies/FileSaver.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/checklist-model.js"></script>
    <script src="/js/dependencies/gettext.js"></script>
    <script src="/js/dependencies/xlsx.core.min.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/controllers.js"></script>
    <script src="/js/app/filters.js"></script>
    <script src="/js/app/services.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
