<div ng-app="taxonApp" ng-controller="taxonController">
<div class="invisible"><!-- BEGIN -->
  <div row class="testing">
    <div column="3" class="testing padding-top-1">
        <a href="#"><%= __('lblAdvancedSearch') %></a>
    </div>
    <div column="3 +6" class="testing padding-top-1 text--right">
        <a href="#"><%= __('lblHowto') %></a>
    </div>
  </div>
  <div row class="testing margin-top-1">
    <div column="5">
      <textarea name="txtTerms" id="txtTerms" rows="6" ng-model="txtTerms"">
      </textarea>
      <p class="input--help"><%= __('lblHelpTerms') %></p>
      <div column="12" class="text--right no-padding">
        <button id="btnSearch" class="button--xsm" ng-model="btnSearch" ng-click="on_search('btnSearch')">
          <%= __('btnSearch') %>
        </button>
      </div>
    </div>
    <div column="2" class="text--center" style="padding-top: 6em;">
      <p><%= __('lblOr') %></p>
    </div>
    <div column="5">
      <div column="12" class="drag-n-drop">
        <p class="text--center"><%= __('lblDragnDrop') %></p>
      </div>
      <div column="12">
        <p class="input--help"><%= __('lblHelpDragnDrop') %></p>
        <input type="file" id="flFile"></input>
      </div>
    </div>
  </div>
  <div row class="testing margin-top-1">
    <div>
      <div column="7">
        <span style="font-size: 130%;"><%= __('lblResults') %></span><br/ >
      </div>
      <div column="3 +2" class="testing text--right margin-top-1">
        <button class="button--xsm" ng-model="btnDownload" ng-click="on_btnDownload_click()"><%= __('btnDownload') %></button>
        <select name="ddlDownload" style="width: 5em;">
          <option value="XLSX">XLSX</option>
          <option value="CSV">CSV</option>
          <option value="TXT">TXT</option>
        </select>
      </div>
    </div>
  </div>
  <div row class="testing margin-top-1" style="overflow-x: scroll;">
    <table id="tblResults" class="table--border table--hoverRow" style="width: 100%;">
      <thead>
        <th><%= __('tblColNameString') %></th>
        <th><%= __('tblColNameMatch') %></th>
        <th><%= __('tblColKingdom') %></th>
        <th><%= __('tblColPhylum') %></th>
        <th><%= __('tblColClass') %></th>
        <th><%= __('tblColOrder') %></th>
        <th><%= __('tblColFamily') %></th>
        <th><%= __('tblColGenus') %></th>
        <th><%= __('tblColSpecies') %></th>
        <th><%= __('tblColSubSpecies') %></th>
        <th><%= __('tblColSpecificEpithet') %></th>
        <th><%= __('tblColInfraSpecificEpithet') %></th>
        <th><%= __('tblColTaxonRank') %></th>
        <th><%= __('tblColAuthor') %></th>
        <th><%= __('tblColScientificName') %></th>
        <th><%= __('tblDataSourceTitle') %></th>
      </thead>
      <tbody>
          <tr ng-repeat="taxon in taxonsList">
            <td>{{ taxon.supplied_name_string }}</td>
            <td>{{ taxon.match }}</td>
            <td>{{ taxon.kingdom }}</td>
            <td>{{ taxon.phylum }}</td>
            <td>{{ taxon.class }}</td>
            <td>{{ taxon.order }}</td>
            <td>{{ taxon.family }}</td>
            <td>{{ taxon.genus }}</td>
            <td>{{ taxon.species }}</td>
            <td>{{ taxon.subspecies }}</td>
            <td>{{ taxon.specificEpithet }}</td>
            <td>{{ taxon.infraSpecificEpithet }}</td>
            <td>{{ taxon.taxonRank }}</td>
            <td>{{ taxon.author }}</td>
            <td>{{ taxon.scientificName }}</td>
            <td>{{ taxon.data_source_title }}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div><!-- END -->


<div id="modal2" class="modal modal--flat ">
  <div class="modal-container">
    <div class="modal-header">
      <%= __('lblAdvancedSearch') %>

      <a href="#close" class="modal-close">&times;</a>
    </div>

    <div class="modal-body" style="overflow-y:scroll;">
        <h4><%= __('lblDataSourceOption') %></h4>
        <p>
          
        </p>
    </div>

    <div class="modal-footer">
      <p>Modal Footer</p>
    </div>
  </div>
</div>

<p class=""><a href="#modal2">Open Flat Modal</a></p>


</div>
