<div ng-app="taxonApp" ng-controller="taxonController">
<!-- BEGIN -->
<div class="">
  <div row class="testing">
    <div column="3" class="testing padding-top-1">
        <a href="#modal-advanced-search"><%= __('lblAdvancedSearch') %></a>
    </div>
    <div column="3 +6" class="testing padding-top-1 text--right">
        <a href="#"><%= __('lblHowto') %></a>
    </div>
  </div>
  <div row class="testing margin-top-1">
    <div column="5">
      <textarea name="txtTerms" id="txtTerms" rows="6" ng-model="txtTerms"">
      </textarea>
      <p class="input--help"><%= __('lblHelpTerms') %></p>
      <div column="12" class="text--right no-padding">
        <button id="btnSearch" class="button--xsm" ng-model="btnSearch" ng-click="on_search('btnSearch')">
          <%= __('btnSearch') %>
        </button>
      </div>
    </div>
    <div column="2" class="text--center" style="padding-top: 6em;">
      <p><%= __('lblOr') %></p>
    </div>
    <div column="5">
      <div column="12" class="drag-n-drop" id="dragNDrop">
        <p class="text--center"><%= __('lblDragnDrop') %></p>
      </div>
      <div column="12">
        <p class="input--help"><%= __('lblHelpDragnDrop') %></p>
        <input type="file" id="flFile"></input>
      </div>
    </div>
  </div>
  <div row class="testing margin-top-1">
    <div>
      <div column="7">
        <span style="font-size: 130%;"><%= __('lblResults') %></span><br/ >
      </div>
      <div column="3 +2" class="testing text--right margin-top-1">
        <button class="button--xsm" ng-model="btnDownload" ng-click="on_btnDownload_click()"><%= __('btnDownload') %></button>
        <select name="ddlDownload" style="width: 5em;">
          <option value="XLSX">XLSX</option>
          <option value="CSV">CSV</option>
          <option value="TXT">TXT</option>
        </select>
      </div>
    </div>
  </div>
  <div row class="testing margin-top-1">
    <table id="tblResults" class="table--border table--hoverRow" style="width: 100%;">
      <thead>
        <th><%= __('tblColSubmittedString') %></th>
        <th><%= __('tblColNameMatch') %></th>
        <th><%= __('tblColNameString') %></th>
        <th><%= __('tblDataSourceTitle') %></th>
        <th><%= __('tblColScore') %></th>
        <th><%= __('tblColDetails') %></th>
      </thead>
      <tbody>
          <tr ng-repeat="taxon in taxonsList">
            <td>{{ taxon.supplied_name_string }}</td>
            <td>{{ taxon.match }}</td>
            <td>{{ taxon.scientificName }}</td>
            <td ng-switch="taxon.has_url">
              <a href="{{ taxon.url }}" target="_blank" ng-switch-when="true">{{ taxon.data_source_title }}</a>
              <div ng-switch-default>{{ taxon.data_source_title }}</div>
            </td>
            <td>{{ taxon.score }}</td>
            <td><a href="#"><%= __('tblColDetails') %></a></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- END -->
<!-- BEGIN MODAL modal-advanced-search-->
<div id="modal-advanced-search" class="modal modal--flat">
  <div class="modal-container" style="width: 48%;">
    <div class="modal-header">
      <h4><%= __('lblAdvancedSearch') %></h4>
      <a href="#close" class="modal-close">&times;</a>
    </div>
    <div class="modal-body">
        <%= __('lblDataSourceOption') %>
        <p class="input--help">(<%= __('lblAboutDataSourceOption') %>)</p>
        <hr/>
        <div class="colorPalette-backgroundLight" style="overflow-y:scroll; max-height: 20em; padding-top: 1em;">
          <p ng-repeat="ds in dataSources">
            <input type="checkbox" id="ds-{{ ds.id }}" checklist-model="selectedDataSources" checklist-value="ds.id" >
            <label for="ds-{{ ds.id }}">{{ ds.title }}</label>
          </p>
        </div>
    </div>
    <div class="modal-footer" style="min-height:7em;">
      <a href="#close" class="modal-close"><button>Ok</button></a>
    </div>
  </div>
</div>
<!-- END modal-advanced-search -->
</div>
