<div row class="testing">
  <div column="6">
    <button id="btnBioRecords"><%= __('btnBioRecords') %></button>
    <button id="btnSpeciesList"><%= __('btnSpeciesList') %></button>
  </div>
  <div column="3 +3" class="padding-top-1">
    <p>
      <a href="#"><%= __('lblHowto') %></a>
    </p>
  </div>
</div>
<div row class="testing margin-top-1">
  <div column="5">
    <label for="txtTerms"><%= __('lblTerms') %></label>
    <textarea name="txtTerms" id="txtTerms" rows="6" class="margin-top-1">
    </textarea>
    <p class="input--help"><%= __('lblHelpTerms') %></p>
  </div>
  <div column="2" class="text--center" style="padding-top: 6em;">
    <p><%= __('lblOr') %></p>
  </div>
  <div column="5">
    <div column="12" class="drag-n-drop margin-top-1">
      <p class="text--center"><%= __('lblDragnDrop') %></p>
    </div>
    <div column="12">
      <p class="input--help"><%= __('lblHelpDragnDrop') %></p>
      <input type="file"></input>
    </div>
  </div>
</div>
<div row class="testing margin-top-1">
  <div>
    <div column="7">
      <p><%= __('lblResults') %></p>
    </div>
    <div column="3 +2" class="testing">
      <button class="button--xsm"><%= __('btnDownload') %></button>
      <select name="ddlDownload" style="width: 5em;">
        <option value="XLSX">XLSX</option>
        <option value="CSV">CSV</option>
        <option value="TXT">TXT</option>
      </select>
    </div>
  </div>
</div>
<div row class="testing margin-top-1">
  <table id="tblResults" class="table--full">
    <caption><%= __('tblResultsCaption') %></caption>
    <thead>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
      <th>G</th>
    </thead>
    <tbody>
      <tr>
        <td>The cure</td>
        <td> xxx</td>
        <td>Santa</td>
        <td>Jesus</td>
        <td>Camiseta</td>
        <td>Bisturi</td>
        <td>No</td>
      </tr>
      <tr>
        <td>The cure</td>
        <td> xxx</td>
        <td>Santa</td>
        <td>Jesus</td>
        <td>Camiseta</td>
        <td>Bisturi</td>
        <td>No</td>
      </tr>
      <tr>
        <td>The cure</td>
        <td> xxx</td>
        <td>Santa</td>
        <td>Jesus</td>
        <td>Camiseta</td>
        <td>Bisturi</td>
        <td>No</td>
      </tr>
      <tr>
        <td>The cure</td>
        <td> xxx</td>
        <td>Santa</td>
        <td>Jesus</td>
        <td>Camiseta</td>
        <td>Bisturi</td>
        <td>No</td>
      </tr>
      <tr>
        <td>The cure</td>
        <td> xxx</td>
        <td>Santa</td>
        <td>Jesus</td>
        <td>Camiseta</td>
        <td>Bisturi</td>
        <td>No</td>
      </tr>
      <tr>
        <td>The cure</td>
        <td> xxx</td>
        <td>Santa</td>
        <td>Jesus</td>
        <td>Camiseta</td>
        <td>Bisturi</td>
        <td>No</td>
      </tr>
      <tr>
        <td>The cure</td>
        <td> xxx</td>
        <td>Santa</td>
        <td>Jesus</td>
        <td>Camiseta</td>
        <td>Bisturi</td>
        <td>No</td>
      </tr>
      <tr>
        <td>The cure</td>
        <td> xxx</td>
        <td>Santa</td>
        <td>Jesus</td>
        <td>Camiseta</td>
        <td>Bisturi</td>
        <td>No</td>
      </tr>
      <tr>
        <td>The cure</td>
        <td> xxx</td>
        <td>Santa</td>
        <td>Jesus</td>
        <td>Camiseta</td>
        <td>Bisturi</td>
        <td>No</td>
      </tr>
      <tr>
        <td>The cure</td>
        <td> xxx</td>
        <td>Santa</td>
        <td>Jesus</td>
        <td>Camiseta</td>
        <td>Bisturi</td>
        <td>No</td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
