<div ng-app="taxonApp" ng-controller="taxonController">
<!-- BEGIN -->
<input type="hidden" ng-model="lang" ng-init="lang='<%= lang %>'" />
<div class="">
  <!-- BEGIN NOTIFICATION PANEL -->
  <div row class="testing">
    <div column="12" class="alert" ng-repeat="i in info">
      <p>{{ i }}</p>
    </div>
    <div column="12" class="alert alert--success" ng-repeat="s in success">
      <p>{{ s }}</p>
    </div>
    <div column="12" class="alert alert--warning" ng-repeat="w in warning">
      <p>{{ w }}</p>
    </div>
    <div column="12" class="alert alert--error" ng-repeat="e in error">
      <p>{{ e }}</p>
    </div>
    <div column="12" ng-if="processing">
      <p><%= __('lblProcessing') %></p>
      <div class="progress progress--striped progress--animate">
        <span style="width: 100%"></span>
      </div>
    </div>
  </div>
  <!-- END NOTIFICATION PANEL -->
  <!-- BEGIN UPPER PANEL -->
  <div row class="testing">
  <!-- BEGIN LEFT PANEL -->
  <div column="5" class="testing">
    <!-- BEGIN STEP 1 MENU-->
    <div row column="12" class="testing">
      <div  column="1" class="testing">
        <span class="badge">1</span>
      </div>
      <div column="11" class="testing">
        <%= __('lblStep1') %>
      </div>
      <div column="11 +1" class="testing">
        <div column="5">
          <input id="btnGeneral" name="btnGeneral" type="radio" value="general" ng-model="typeFilter" />
          <label for="btnGeneral"><%= __('btnGeneral') %></label>
        </div>
        <div column="2">|</div>
        <div column="5">
          <input id="btnSpecialized" name="btnSpecialized" type="radio" value="specialized" ng-model="typeFilter" />
          <label for="btnSpecialized"><%= __('btnSpecialized') %></label>
        </div>
      </div>
    </div>
    <!-- END STEP 1 MENU-->
    <!-- BEGIN STEP 2 -->
    <div row column="12" class="testing margin-top-1">
      <div column="1" class="testing">
        <span class="badge">2</span>
      </div>
      <div column="11" class="testing">
        <%= __('lblStep2') %>
      </div>
      <div column="11 +1" class="testing">
        <textarea name="txtTerms" id="txtTerms" rows="6" placeholder="<%= __('lblHelpTerms') %>" ng-model="txtTerms">
        </textarea>
        <!-- BEGIN DRAG N DROP INPUT -->
        <div class="margin-top-1">
          <div class="drag-n-drop" id="dragNDrop">
            <p class="text--center">
              <%= __('lblDragnDrop') %>
              <br />
              <small style="font-size:50%;">
                <%= __('lblAcceptedFormats') %>
              </small>
              <small style="font-size:50%;">
                <%= __('lblMaxUploadTerms') %>
              </small>
            </p>
          </div>
          <div column="12" class="no-padding">
            <p class="input--help"><%= __('lblHelpDragnDrop') %></p>
            <input type="file" id="flFile"></input>
          </div>
        </div>
        <!-- END DRAG N DROP INPUT -->
      </div>
    </div>
    <!-- END STEP 2 -->
    <!-- BEGIN BUTTON MENU -->
    <div row column="12" class="testing text--right">
      <div column="11 +1">
        <button id="btnClean" class="button--xsm" ng-model="btnClean" ng-click="on_clean()">
          <%= __('btnClean') %>
        </button>
        <button id="btnSearch" class="button--xsm" ng-model="btnSearch" ng-click="on_search('btnSearch')">
          <%= __('btnSearch') %>
        </button>
      </div>
    </div>
    <!-- END BUTTON MENU -->
  </div>
  <!-- END LEFT PANEL -->
  <!-- BEGIN RIGHT PANEL -->
  <div column="7" class="testing">
    <p><%= __('lblAboutDatasources') %></p>
    <div style="overflow-y:scroll; max-height: 25em; min-height: 25em; padding-top: 1em;">
        <p ng-repeat="ds in dataSources">
          <input type="checkbox" id="ds-{{ ds.id }}" checklist-model="getSelectedDataSources()" checklist-value="ds.id" ng-change="check(ds, checked)" ng-if="typeFilter==ds.datasource_type" >
          <label for="ds-{{ ds.id }}" ng-if="typeFilter==ds.datasource_type">{{ ds.title }}</label>
        </p>
    </div>
  </div>
  <!-- END RIGHT PANEL -->
  </div>
  <!-- BEGIN RESULTS PANEL -->
  <!-- END UPPER PANEL -->
  <div row class="testing margin-top-1">
    <!-- BEGIN STEP 3 -->
    <div column="4" class="testing">
      <div  column="1" class="testing">
        <span class="badge">3</span>
      </div>
      <div column="11" class="testing">
        <%= __('lblStep3') %>
      </div>
    </div>
    <!-- BEGIN DOWNLOAD RESULTS TABLE -->
    <div column="12" class="testing margin-top-1">
        <div column="9">
          <span style="font-size: 130%;"><%= __('lblResults') %></span><br/ >
          <span class="input--help"><%= __('lblSelectedDataSources') %>: {{ dataSourcesTitles.join(',') }}</span>
        </div>
        <div column="3" class="testing text--right">
          <button class="button--xsm" ng-model="btnDownload" ng-click="on_btnDownload_click()"><%= __('btnDownload') %></button>
          <select name="ddlDownload" style="width: 5em;">
            <option value="XLSX">XLSX</option>
            <option value="CSV">CSV</option>
            <option value="TXT">TXT</option>
          </select>
        </div>
    </div>
    <!-- END DOWNLOAD RESULTS TABLE -->
    <!-- BEGIN TABLE RESULTS -->
    <div row column="12" class="margin-top-1">
      <table id="tblResults" class="table--border table--hoverRow" style="width: 100%;">
        <thead>
          <th><%= __('tblColSubmittedString') %></th>
          <th><%= __('tblColNameMatch') %></th>
          <th><%= __('tblColNameString') %></th>
          <th><%= __('tblDataSourceTitle') %></th>
          <th><%= __('tblColScore') %></th>
          <th><%= __('tblColDetails') %></th>
        </thead>
        <tbody>
            <tr ng-repeat="taxon in taxonsList">
              <td>{{ taxon.supplied_name_string }}</td>
              <td>{{ taxon.match }}</td>
              <td>{{ taxon.scientificName }}</td>
              <td ng-switch="taxon.has_url">
                <a href="{{ taxon.url }}" target="_blank" ng-switch-when="true">{{ taxon.data_source_title }}</a>
                <div ng-switch-default>{{ taxon.data_source_title }}</div>
              </td>
              <td>{{ taxon.score }}</td>
              <td><a href="#modal-details" ng-click="on_details($index)"><%= __('tblColDetails') %></a></td>
            </tr>
        </tbody>
      </table>
    </div>
    <!-- END TABLE RESULTS -->
    <!-- END STEP 3 -->
  </div>
  <!-- END RESULTS PANEL -->
</div>
<!-- END -->
<!-- BEGIN MODAL modal-advanced-search-->
<div id="modal-details" class="modal modal--flat">
  <div class="modal-container" style="width: 50%;">
    <div class="modal-header">
      <h4><%= __('lblDetail') %>: {{ taxonDetail.title }}</h4>
      <a href="#close" class="modal-close">&times;</a>
    </div>
    <div class="modal-body">
        <hr/>
        <div class="colorPalette-backgroundLight" style="overflow-y:scroll; max-height: 20em; padding-top: 1em;">
          <p ng-repeat="(k, v) in taxonDetail.keyValue">
            {{ _getString(k) }}: {{ v }}
          </p>
        </div>
    </div>
    <div class="modal-footer" style="min-height:7em;">
      <a href="#close" class="modal-close"><button>Ok</button></a>
    </div>
  </div>
</div>
<!-- END modal-advanced-search -->
</div>
